<!-- templates/tab_scc_32u.jinja2 -->
<div id="tab_scc_32u">
    <h2>SCC-32U Control</h2>
    <form class="form-inline">
        <div class="form-group">
            <label for="servo_id_input">Servo ID:</label>
            <input type="number" class="form-control" id="servo_id_input" min="0" max="5" value="0">
        </div>
        <div class="form-group">
            <label for="move_arm_input">Angle:</label>
            <input type="number" class="form-control" id="move_arm_input" min="500" max="2500" value="1500">
        </div>
        <button type="button" class="btn btn-primary" id="move_arm_button">Move Arm</button>
    </form>
</div>
