<!DOCTYPE html>
<html>
<head>
    <title>Servo Control</title>
    <style>
        .slider-container {
            margin: 20px 0;
        }
        .slider-label {
            display: inline-block;
            width: 100px;
        }
    </style>
</head>
<body>
    <button id="toggle-light-button" onclick="toggleLight()">Toggle Light</button>
    <div id="servo-controls">
        {% for i in range(6) %}
        <div class="slider-container">
            <label class="slider-label" for="servo{{ i }}">Servo {{ i }}:</label>
            <input type="range" id="servo{{ i }}" name="servo{{ i }}" min="0" max="180" value="90" oninput="updateServoValue({{ i }}, this.value)">
            <span id="servo{{ i }}-value">90</span>
        </div>
        {% endfor %}
    </div>
    <script>
        function updateServoValue(servo, value) {
            document.getElementById(`servo${servo}-value`).innerText = value;
            sendServoValueToServer(servo, value);
        }

        function sendServoValueToServer(servo, value) {
            fetch(`/plugin/SCC_32U/servo/${servo}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ value: value })
            }).then(response => {
                if (!response.ok) {
                    response.json().then(data => {
                        alert('Error updating servo value: ' + (data.error || 'Unknown error'));
                    });
                }
            }).catch(error => {
                console.error('Fetch error:', error);
                alert('Error updating servo value');
            });
        }

        function toggleLight() {
            fetch('/plugin/SCC_32U/toggle-light', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ toggle: true })
            }).then(response => {
                if (!response.ok) {
                    response.json().then(data => {
                        alert('Error toggling light: ' + (data.error || 'Unknown error'));
                    });
                }
            }).catch(error => {
                console.error('Fetch error:', error);
                alert('Error toggling light');
            });
        }
    </script>
</body>
</html>
