/* SCC_32U.css */
#tab_plugin_SCC_32U {
    padding: 20px;
}

#tab_plugin_SCC_32U h2 {
    margin-bottom: 20px;
}

#tab_plugin_SCC_32U .form-inline .form-group {
    margin-right: 10px;
}

#tab_plugin_SCC_32U .form-control {
    width: auto;
}
